<configuration>

  <!--<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>-->

  <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

  <conversionRule conversionWord="coloredLevel"
                  converterClass="play.api.libs.logback.ColoredLevel"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT"/>
  </appender>

  <!-- Play specific logging -->
  <logger name="play" level="OFF"/>
  <logger name="akka" level="OFF"/>
  <logger name="application" level="OFF"/>

  <!--<logger name="play.api.db.evolutions" level="DEBUG"/>-->

  <!-- Loggers for the Silhouette auth library -->
  <logger name="com.mohiva" level="OFF"/>

  <!-- Symbiotic loggers -->
  <logger name="Symbiotic" level="OFF"/>
  <logger name="controllers" level="OFF"/>
  <logger name="repository" level="OFF"/>
  <logger name="services" level="OFF"/>
  <logger name="core" level="OFF"/>
  <logger name="models" level="OFF"/>

  <!--<logger name="repository.mongodb.party.MongoDBUserRepository" level="DEBUG"/>-->
  <!--<logger name="repository.postgres.party.PostgresUserRepository" level="DEBUG"/>-->
  <!--<logger name="repository.mongodb.party.MongoDBAvatarRepository" level="DEBUG"/>-->
  <!--<logger name="repository.postgres.party.PostgresAvatarRepository" level="DEBUG"/>-->
  <!--<logger name="net.scalytica.symbiotic" level="INFO"/>-->
  <!--<logger name="net.scalytica.symbiotic.fs" level="DEBUG"/>-->

  <!--<logger name="com.mongodb" level="WARN"/>-->
  <!--<logger name="org.mongodb" level="WARN"/>-->
  <!--<logger name="org.bson" level="DEBUG"/>-->

  <!-- Testing -->
  <!--<logger name="util.testdata" level="DEBUG"/>-->
  <!--<logger name="net.scalytica.symbiotic.test" level="DEBUG"/>-->

  <root level="ERROR">
    <appender-ref ref="ASYNCSTDOUT"/>
  </root>

</configuration>
