<configuration>

    <!--<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator"/>-->

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <!--<appender name="FILE" class="ch.qos.logback.core.FileAppender">-->
    <!--<file>${application.home}/logs/application.log</file>-->
    <!--<encoder>-->
    <!--<pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel %logger{40} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <!--<appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">-->
    <!--<appender-ref ref="FILE" />-->
    <!--</appender>-->

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <!-- Play specific logging -->
    <logger name="play" level="INFO"/>
    <logger name="akka" level="INFO"/>
    <logger name="application" level="INFO"/>

    <!-- Loggers for the Silhouette auth library -->
    <logger name="com.mohiva" level="INFO"/>

    <!-- Symbiotic loggers -->
    <logger name="Symbiotic" level="DEBUG"/>
    <logger name="controllers" level="DEBUG"/>
    <logger name="repository" level="DEBUG"/>
    <logger name="services" level="TRACE"/>
    <logger name="core" level="DEBUG"/>
    <logger name="models" level="INFO"/>
    <logger name="net.scalytica.symbiotic" level="DEBUG"/>

    <!-- MongoDB logging -->
    <!--<logger name="com.mongodb" level="TRACE"/>
    <logger name="org.mongodb" level="TRACE"/>
    <logger name="org.bson" level="DEBUG"/>-->

    <!-- Off these ones as they are annoying, and anyway we manage configuration ourself -->
    <logger name="com.avaje.ebean.config.PropertyMapLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.core.XmlConfigLoader" level="OFF"/>
    <logger name="com.avaje.ebeaninternal.server.lib.BackgroundThread" level="OFF"/>
    <logger name="com.gargoylesoftware.htmlunit.javascript" level="OFF"/>

    <root level="WARN">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>
