<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%coloredLevel - %date{HH:mm:ss.SSS} - %logger - %message%n%xException</pattern>
        </encoder>
    </appender>

    <logger name="util.mongodb" level="ERROR"/>
    <logger name="core.docmanagement" level="ERROR"/>
    <logger name="core.hipe" level="ERROR"/>

    <root level="OFF" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
